.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home p {
  width: 60%;
  margin-top: 3rem;
  margin-bottom: 5rem;
  font-size: 1.2rem;
}

.inputId {
  margin: 1rem 0 1rem 0;
  padding: 0.6rem;
  outline: none;
  font-size: 1.2rem;
}

.buttonID {
  padding: 0.38rem 1.5rem;
  font-size: 1.1rem;
  background-color: #25609c;
  color: #fff;
}
